apiVersion: v1
kind: ConfigMap
metadata:
  name: hubbot-config
stringData:
  hubbot.toml: |
    nickname = "Hubbot"
    realname = "Hubbot"
    username = "Hubbot"
    command_char = "+"
    modules = ["all", "-Nope"]
    address = "irc.example.com"
    ssl = true
    port = 6697
    channels = ["#dev"]
