apiVersion: v1
kind: Secret
metadata:
  name: tubearchivist-envs
stringData:
  ES_URL: "http://tubearchivist-es.default.svc.cluster.local:9200"
  REDIS_HOST: "tubearchivist-redis.default.svc.cluster.local"
  HOST_UID: "1000"
  HOST_GID: "1000"
  TA_HOST: "youtube.hubbe.club"
  ELASTIC_PASSWORD: ""
  TZ: Europe/Helsinki
  TA_USERNAME: ""
  TA_PASSWORD: ""
  TA_LDAP: "true"
  TA_LDAP_SERVER_URI: ""
  TA_LDAP_BIND_DN: ""
  TA_LDAP_BIND_PASSWORD: ""
  TA_LDAP_USER_ATTR_MAP_USERNAME: uid
  TA_LDAP_USER_ATTR_MAP_PERSONALNAME: cn
  TA_LDAP_USER_ATTR_MAP_SURNAME: sn
  TA_LDAP_USER_ATTR_MAP_EMAIL: mail
  TA_LDAP_USER_BASE: ""
  TA_LDAP_USER_FILTER: ""
