apiVersion: v1
kind: Secret
metadata:
  name: tubearchivist-envs
stringData:
  ES_URL: "http://tubearchivist-es.default.svc.cluster.local:9200"
  REDIS_HOST: "tubearchivist-redis.default.svc.cluster.local"
  HOST_UID: "1000"
  HOST_GID: "1000"
  TA_HOST: "youtube.hubbe.club"
  ELASTIC_PASSWORD: ""
  TZ: Europe/Helsinki
  TA_USERNAME: ""
  TA_PASSWORD: ""
