apiVersion: v1
kind: Secret
metadata:
  name: longhorn-garage-backups
  namespace: longhorn-system
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: 
  AWS_ENDPOINTS: http://192.168.1.121:30188
  AWS_SECRET_ACCESS_KEY: 
