apiVersion: v1
kind: Secret
metadata:
  name: registry-htpasswd
stringData:
  # htpasswd string
  auth: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: registry-credentials
  # example annotations from Drone CI usage limits
  annotations:
    X-Drone-Repos: octocat/*
    X-Drone-Events: push,tag
stringData:
  # plain credentials, if needed for drone CI
  username: ""
  password: ""
