apiVersion: v1
kind: ConfigMap
metadata:
  name: scripts
data:
  # scripts, to be mounted at /home/${user}/scripts
  weechat.sh: |
    #!/bin/bash
    kubectl exec -it deployment/weechat -c weechat -- tmux attach
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: terminfo
binaryData:
  # terminfo files, base64-encoded
  xterm-kitty: |
    GgEVABwADwBpAWcFeHRlcm0ta2l0dHl8S292SWRUVFkAAAEAAAEAAAABAQAAAAEBAAAAAAAAAAEA
    AAEAAQBQAAgAGAD//////////////////////////wAB/38AAAQABgAIABkAHgAmACoALgD//zkA
    SgBMAFAAVwD//1kAZgD//2oAbgB4AHwAgAD//4YA//+KAI8A//+YAJ0A/////6IApwCsALEAugC+
    AMUA///OANMA2QDfAP//8QD/////////////8wD///cA////////+QD///4A//////////8CAQYB
    DAEQARQBGAEeASQBKgEwATYBOgH//z8B//9DAUgBTQFRAVgB//9fAWMBaQH/////////////////
    //////////////////////9vAXgBgQGKAZMBnAGlAa4BtwHAAf//////////////////yQH/////
    ///QAdMB3gHhAeMB5gE4Av//OwI9Av///////0ICQwL//0QCRQL/////RgL//4cC/////4sCkQL/
    ////////////////////////////lwL///////+bAv//////////////////////////////////
    ////////nAL/////////////nQL/////pAL//////////6sCsgK5Av/////AAv//xwL////////O
    Av/////////////VAtsC4QLoAu8C9gL9AgUDDQMVAx0DJQMtAzUDPQNEA0sDUgNZA2EDaQNxA3kD
    gQOJA5EDmQOgA6cDrgO1A70DxQPNA9UD3QPlA+0D9QP8AwMECgQRBBkEIQQpBDEEOQRBBEkEUQRY
    BF8EZgT/////////////////////////////////////////////////////////////////////
    //9rBHQEewT/////////////////////////////2QT////////////////////////eBP//////
    ////////////////////////////////////////////////////////////////////////////
    /////+QE////////6AQnBRtbWgAHAA0AG1slaSVwMSVkOyVwMiVkcgAbWzNnABtbSBtbMkoAG1tL
    ABtbSgAbWyVpJXAxJWRHABtbJWklcDElZDslcDIlZEgACgAbW0gAG1s/MjVsAAgAG1s/MTJsG1s/
    MjVoABtbQwAbW0EAG1s/MTI7MjVoABtbUAAbW00AG10yOwcAGygwABtbMW0AG1s/MTA0OWgAG1sy
    bQAbWzRoABtbN20AG1s3bQAbWzRtABtbJXAxJWRYABsoQgAbKEIbW20AG1s/MTA0OWwAG1s0bAAb
    WzI3bQAbWzI0bQAbWz81aCQ8MTAwLz4bWz81bAAHABtbTAB/ABtbM34AG09CABtPUAAbWzIxfgAb
    T1EAG09SABtPUwAbWzE1fgAbWzE3fgAbWzE4fgAbWzE5fgAbWzIwfgAbT0gAG1syfgAbT0QAG1s2
    fgAbWzV+ABtPQwAbWzE7MkIAG1sxOzJBABtPQQAbWz8xbAAbWz8xaAAbWyVwMSVkUAAbWyVwMSVk
    TQAbWyVwMSVkQgAbWyVwMSVkQAAbWyVwMSVkUwAbWyVwMSVkTAAbWyVwMSVkRAAbWyVwMSVkQwAb
    WyVwMSVkVAAbWyVwMSVkQQAbXRtcG2MAGzgAG1slaSVwMSVkZAAbNwAKABtNACU/JXA5JXQbKDAl
    ZRsoQiU7G1swJT8lcDYldDsxJTslPyVwMiV0OzQlOyU/JXAxJXAzJXwldDs3JTslPyVwNCV0OzUl
    OyU/JXA3JXQ7OCU7bQAbSAAJABtdMjsAAAAAACsrLCwtLS4uMDBgYGFhZmZnZ2hoaWlqamtrbGxt
    bW5ub29wcHFxcnJzc3R0dXV2dnd3eHh5eXp6e3t8fH19fn4AG1taABtbPzdoABtbPzdsABtPRgAA
    ABtbMzsyfgAbWzE7MkYAG1sxOzJIABtbMjsyfgAbWzE7MkQAG1s2OzJ+ABtbNTsyfgAbWzE7MkMA
    G1syM34AG1syNH4AG1sxOzJQABtbMTsyUQAbWzE7MlIAG1sxOzJTABtbMTU7Mn4AG1sxNzsyfgAb
    WzE4OzJ+ABtbMTk7Mn4AG1syMDsyfgAbWzIxOzJ+ABtbMjM7Mn4AG1syNDsyfgAbWzE7NVAAG1sx
    OzVRABtbMTs1UgAbWzE7NVMAG1sxNTs1fgAbWzE3OzV+ABtbMTg7NX4AG1sxOTs1fgAbWzIwOzV+
    ABtbMjE7NX4AG1syMzs1fgAbWzI0OzV+ABtbMTs2UAAbWzE7NlEAG1sxOzZSABtbMTs2UwAbWzE1
    OzZ+ABtbMTc7Nn4AG1sxODs2fgAbWzE5OzZ+ABtbMjA7Nn4AG1syMTs2fgAbWzIzOzZ+ABtbMjQ7
    Nn4AG1sxOzNQABtbMTszUQAbWzE7M1IAG1sxOzNTABtbMTU7M34AG1sxNzszfgAbWzE4OzN+ABtb
    MTk7M34AG1syMDszfgAbWzIxOzN+ABtbMjM7M34AG1syNDszfgAbWzE7NFAAG1sxOzRRABtbMTs0
    UgAbWzFLABtbMzk7NDltABtdMTA0BwAbXTQ7JXAxJWQ7cmdiOiVwMiV7MjU1fSUqJXsxMDAwfSUv
    JTIuMlgvJXAzJXsyNTV9JSolezEwMDB9JS8lMi4yWC8lcDQlezI1NX0lKiV7MTAwMH0lLyUyLjJY
    G1wAG1szbQAbWzIzbQAbW00AG1slPyVwMSV7OH0lPCV0MyVwMSVkJWUlcDElezE2fSU8JXQ5JXAx
    JXs4fSUtJWQlZTM4OzU7JXAxJWQlO20AG1slPyVwMSV7OH0lPCV0NCVwMSVkJWUlcDElezE2fSU8
    JXQxMCVwMSV7OH0lLSVkJWU0ODs1OyVwMSVkJTttAAADAAAAOABzAPMCAQEBAAAABwAOABUAHAAj
    ACoAMQA4AD8ARgBNAFQAWwBiAGkAcAB3AH4AhQCMAJMAmgChAKgArwC2AL0AxADLANIA2QDgAOcA
    7gD1APwAAwEKAREBGAEfASYBLQE0ATsBQgFJAVABVwFeAWUBbAFyAYwBpgEAAAMABgAOABMAGAAd
    ACIAJwArADAANQA6AD8ARABKAFAAVgBcAGIAaABuAHQAegCAAIUAigCPAJQAmQCfAKUAqwCxALcA
    vQDDAMkAzwDVANsA4QDnAO0A8wD5AP8ABQELAREBFQEaAR8BJAEpAS4BMwE7AUMBG1szOzN+ABtb
    Mzs0fgAbWzM7NX4AG1szOzZ+ABtbMzs3fgAbWzE7MkIAG1sxOzNCABtbMTs0QgAbWzE7NUIAG1sx
    OzZCABtbMTs3QgAbWzE7M0YAG1sxOzRGABtbMTs1RgAbWzE7NkYAG1sxOzdGABtbMTszSAAbWzE7
    NEgAG1sxOzVIABtbMTs2SAAbWzE7N0gAG1syOzN+ABtbMjs0fgAbWzI7NX4AG1syOzZ+ABtbMjs3
    fgAbWzE7M0QAG1sxOzREABtbMTs1RAAbWzE7NkQAG1sxOzdEABtbNjszfgAbWzY7NH4AG1s2OzV+
    ABtbNjs2fgAbWzY7N34AG1s1OzN+ABtbNTs0fgAbWzU7NX4AG1s1OzZ+ABtbNTs3fgAbWzE7M0MA
    G1sxOzRDABtbMTs1QwAbWzE7NkMAG1sxOzdDABtbMTsyQQAbWzE7M0EAG1sxOzRBABtbMTs1QQAb
    WzE7NkEAG1sxOzdBABtbMjltABtbNDg6MjolcDElZDolcDIlZDolcDMlZG0AG1szODoyOiVwMSVk
    OiVwMiVkOiVwMyVkbQAbWzltAFN1AFRjAGZ1bGxrYmQAa0RDMwBrREM0AGtEQzUAa0RDNgBrREM3
    AGtETgBrRE4zAGtETjQAa0RONQBrRE42AGtETjcAa0VORDMAa0VORDQAa0VORDUAa0VORDYAa0VO
    RDcAa0hPTTMAa0hPTTQAa0hPTTUAa0hPTTYAa0hPTTcAa0lDMwBrSUM0AGtJQzUAa0lDNgBrSUM3
    AGtMRlQzAGtMRlQ0AGtMRlQ1AGtMRlQ2AGtMRlQ3AGtOWFQzAGtOWFQ0AGtOWFQ1AGtOWFQ2AGtO
    WFQ3AGtQUlYzAGtQUlY0AGtQUlY1AGtQUlY2AGtQUlY3AGtSSVQzAGtSSVQ0AGtSSVQ1AGtSSVQ2
    AGtSSVQ3AGtVUABrVVAzAGtVUDQAa1VQNQBrVVA2AGtVUDcAcm14eABzZXRyZ2JiAHNldHJnYmYA
    c214eAA=
