apiVersion: v1
kind: ServiceAccount
metadata:
  name: openssh
  namespace: default
  labels:
    component: openssh
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: openssh
  labels:
    component: openssh
rules:
  # limit to only allow getting a deployment pod and exec-ing into it
  # this is so I can run 'kubectl exec -it deployment/weechat -c weechat -- tmux attach'
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get"]
  - apiGroups: [""]
    resources: ["pods", "pods/logs"]
    verbs: ["get", "list"]
  - apiGroups: [""]
    resources: ["pods/exec"]
    verbs: ["create"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: openssh
  labels:
    component: openssh
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: openssh
subjects:
  - kind: ServiceAccount
    name: openssh
    namespace: default
