apiVersion: v1
kind: Service
metadata:
  name: ssh-22
  annotations:
    metallb.universe.tf/allow-shared-ip: ssh
spec:
  externalTrafficPolicy: Local
  loadBalancerIP: 192.168.1.10
  ports:
    - port: 22
  selector:
    app: ssh
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  name: ssh-mosh
  annotations:
    metallb.universe.tf/allow-shared-ip: ssh
spec:
  externalTrafficPolicy: Local
  loadBalancerIP: 192.168.1.10
  ports:
    - name: mosh-0
      protocol: UDP
      port: 60000
    - name: mosh-1
      protocol: UDP
      port: 60001
    - name: mosh-2
      protocol: UDP
      port: 60002
    - name: mosh-3
      protocol: UDP
      port: 60003
    - name: mosh-4
      protocol: UDP
      port: 60004
  selector:
    app: ssh
  type: LoadBalancer
