# see https://docs.mau.fi/bridges/go/whatsapp/setup/docker.html
apiVersion: v1
kind: ConfigMap
metadata:
  name: matrix-whatsapp-config
data:
  config.yaml: ""
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: matrix-whatsapp-registration
data:
  registration.yaml: ""
