apiVersion: v1
kind: Secret
metadata:
  name: openldap-envs
stringData:
  LDAP_ORGANISATION: Hubbe Club
  LDAP_DOMAIN: hubbe.club
  LDAP_ADMIN_PASSWORD: ""
  LDAP_CONFIG_PASSWORD: ""
  LDAP_READONLY_USER: "true"
  LDAP_READONLY_USER_USERNAME: readonly
  LDAP_READONLY_USER_PASSWORD: ""
