apiVersion: v1
kind: Secret
metadata:
  name: vaultwarden-secrets
stringData:
  # https://github.com/dani-garcia/vaultwarden/wiki/Using-the-MariaDB-%28MySQL%29-Backend
  DATABASE_URL: ""
  # https://github.com/dani-garcia/vaultwarden/wiki/Enabling-admin-page#secure-the-admin_token
  ADMIN_TOKEN: ""
  # https://www.fastmail.help/hc/en-us/articles/360058752854-App-passwords
  SMTP_USERNAME: ""
  SMTP_PASSWORD: ""
  # https://github.com/dani-garcia/vaultwarden/wiki/Enabling-Mobile-Client-push-notification
  PUSH_INSTALLATION_ID: ""
  PUSH_INSTALLATION_KEY: ""
