apiVersion: v1
kind: Secret
metadata:
  name: drone-envs
  namespace: drone
  labels:
    component: drone
stringData:
  DRONE_USER_FILTER: "foo"
  DRONE_USER_CREATE: "username:foo,admin:true"
  DRONE_GITHUB_CLIENT_ID: ""
  DRONE_GITHUB_CLIENT_SECRET: ""
  DRONE_RPC_HOST: "drone"
  DRONE_RPC_PROTO: "http"
  DRONE_RPC_SECRET: ""
  DRONE_SERVER_HOST: "drone.hubbe.club"
  DRONE_SERVER_PROTO: "https"
---
apiVersion: v1
kind: Secret
metadata:
    name: drone-metrics-token
    namespace: monitoring
    labels:
        component: drone
stringData:
    token: ""
    # see https://docs.drone.io/server/metrics/
