apiVersion: batch/v1
kind: Job
metadata:
  name: rsync
spec:
  parallelism: 1    
  completions: 1    
  template:         
    metadata:
      name: rsync
    spec:
      containers:
      - name: rsync
        image: instrumentisto/rsync-ssh:latest
        command: ["rsync"]
        args: ["-apvH", "/srcd/", "/dest/"]
        volumeMounts:
        - name: source
          mountPath: /srcd
        - name: destination
          mountPath: /dest
      restartPolicy: OnFailure 
      volumes:
      - name: source
        persistentVolumeClaim:
          claimName: SOURCE_CLAIM_NAME
      - name: destination
        persistentVolumeClaim:
          claimName: DEST_CLAIM_NAME
