# see https://github.com/tulir/mautrix-whatsapp/wiki/Bridge-setup-with-Docker
apiVersion: v1
kind: ConfigMap
metadata:
  name: matrix-signal-config
data:
  config.yaml: ""
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: matrix-signal-registration
data:
  registration.yaml: ""
