# Source: ingress-nginx/templates/controller-configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/component: controller
  name: ingress-nginx-controller
  namespace: ingress-nginx
data:
  # allow configuration snippets in ingress annotations
  allow-snippet-annotations: "true"
  # actually allow all annotations, risk be damned
  # i'm writing all the ingresses so...
  annotations-risk-level: "Critical"
  # ensure ssl-redirect is true, always redirect to https
  ssl-redirect: "true"
  # don't emit version number on error pages and server headers
  server-tokens: "false"
  # enable ModSecurity module for detection of basic attacks
  enable-modsecurity: "true"
  # enable OWASP Core Rule Set for ModSecurity
  enable-owasp-modsecurity-crs: "true"
  # increase default client-max-body-size (1m is kinda small)
  proxy-body-size: "16m"
  # don't use temp files to cache, it messes with large file downloads
  proxy-max-temp-file-size: "0"
  # set 2-year HSTS headers
  hsts: "true"
  hsts-include-subdomains: "true"
  hsts-max-age: "63072000"
  hsts-preload: "true"
  # enable HTTP/2 support
  use-http2: "true"
  # enable OCSP stapling
  enable-ocsp: "true"
  # Mozilla Intermediate SSL config
  ssl-session-timeout: "1d"
  ssl-session-cache: "true"
  ssl-session-cache-size: "10m"
  ssl-session-tickets: "false"
  ssl-dh-param: ingress-nginx/ffdhe4096
  ssl-protocols: "TLSv1.2 TLSv1.3"
  ssl-ciphers: "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305"
  ssl-prefer-server-ciphers: "false"
  # add basic security headers
  add-headers: "ingress-nginx/custom-headers"
  # tweak proxy buffering
  proxy-buffering: "on"
  proxy-buffers-number: "8"
  proxy-buffer-size: "16k"
  # block certain useragents (web spiders that don't respect robots info)
  block-user-agents: "'.*Bytespider.*'"
---
# Source: configmaps.yaml
apiVersion: v1
kind: Secret
metadata:
  name: ffdhe4096
  namespace: ingress-nginx
stringData:
  # https://ssl-config.mozilla.org/ffdhe4096.txt
  dhparam.pem: |
    -----BEGIN DH PARAMETERS-----
    MIICCAKCAgEA//////////+t+FRYortKmq/cViAnPTzx2LnFg84tNpWp4TZBFGQz
    +8yTnc4kmz75fS/jY2MMddj2gbICrsRhetPfHtXV/WVhJDP1H18GbtCFY2VVPe0a
    87VXE15/V8k1mE8McODmi3fipona8+/och3xWKE2rec1MKzKT0g6eXq8CrGCsyT7
    YdEIqUuyyOP7uWrat2DX9GgdT0Kj3jlN9K5W7edjcrsZCwenyO4KbXCeAvzhzffi
    7MA0BM0oNC9hkXL+nOmFg/+OTxIy7vKBg8P+OxtMb61zO7X8vC7CIAXFjvGDfRaD
    ssbzSibBsu/6iGtCOGEfz9zeNVs7ZRkDW7w09N75nAI4YbRvydbmyQd62R0mkff3
    7lmMsPrBhtkcrv4TCYUTknC0EwyTvEN5RPT9RFLi103TZPLiHnH1S/9croKrnJ32
    nuhtK8UiNjoNq8Uhl5sN6todv5pC1cRITgq80Gv6U93vPBsg7j/VnXwl5B0rZp4e
    8W5vUsMWTfT7eTDp5OWIV7asfV9C1p9tGHdjzx1VA0AEh/VbpX4xzHpxNciG77Qx
    iu1qHgEtnmgyqQdgCpGBMMRtx3j5ca0AOAkpmaMzy4t6Gh25PXFAADwqTs6p+Y0K
    zAqCkc3OyX3Pjsm1Wn+IpGtNtahR9EGC4caKAH5eZV9q//////////8CAQI=
    -----END DH PARAMETERS-----
---
# Source: custom-headers.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: custom-headers
  namespace: ingress-nginx
data:
  X-Content-Type-Options: nosniff
  X-XSS-Protection: 1; mode=block
  X-Robots-Tag: noindex, nofollow
