apiVersion: v1
kind: ConfigMap
metadata:
  name: recyclarr-config
data:
  recyclarr.yml: |
    radarr:
      hd-bluray-web:
        base_url: !secret radarr_url
        api_key: !secret radarr_apikey
        replace_existing_custom_formats: true

        include:
          - template: radarr-quality-definition-movie
          - template: radarr-quality-profile-hd-bluray-web
          - template: radarr-custom-formats-hd-bluray-web

        custom_formats:
          - trash_ids:
              - dc98083864ea246d05a42df0d05f81cc # x265 (HD)
            assign_scores_to:
              - name: HD Bluray + WEB
                score: 500
          - trash_ids:
              - 839bea857ed2c0a8e084f3cbdbd65ecb # x265 (no HDR/DV)
            assign_scores_to:
              - name: HD Bluray + WEB
                score: 500
    sonarr:
      web-1080p-v4:
        base_url: !secret sonarr_url
        api_key: !secret sonarr_apikey
        replace_existing_custom_formats: true

        include:
          - template: sonarr-quality-definition-series
          - template: sonarr-v4-quality-profile-web-1080p
          - template: sonarr-v4-custom-formats-web-1080p

        custom_formats:
          - trash_ids:
              - 47435ece6b99a0b477caf360e79ba0bb # x265 (HD)
            assign_scores_to:
              - name: WEB-1080p
                score: 500
          - trash_ids:
              - 9b64dff695c2115facf1b6ea59c9bd07 # x265 (no HDR/DV)
            assign_scores_to:
              - name: WEB-1080p
                score: 500
