apiVersion: v1
kind: Secret
metadata:
  name: recyclarr-secrets
type: Opaque
stringData:
  secrets.yml: |
    radarr_apikey: 
    radarr_url: http://radarr.default.svc.cluster.local:7878
    sonarr_apikey: 
    sonarr_url: http://sonarr.default.svc.cluster.local:8989
