apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: roundcubemail-db
spec:
  replicas: 1  
  selector:
    matchLabels:
      app: roundcubemail-db
  serviceName: roundcubemail-db
  template:
    metadata:
      labels:
        app: roundcubemail-db
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - image: mariadb:10
          imagePullPolicy: Always
          name: roundcubemail-db
          resources:
            requests:
              cpu: "50m"
              memory: "100Mi"
          envFrom:
            - secretRef:
                name: roundcubemail-envs
          volumeMounts:
            - name: data
              mountPath: /var/lib/mysql
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: iscsi-volume
        resources:
          requests:
            storage: 1Gi
