apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: roundcubemail-web
spec:
  tls:
    - hosts:
      - mail.hubbe.club  
  rules:
    - host: mail.hubbe.club
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: roundcubemail-web
                port:
                  number: 80
