apiVersion: v1
kind: Service
metadata:
  name: roundcubemail-db
spec:
  ports:
    - port: 3306
  selector:
    app: roundcubemail-db
---
apiVersion: v1
kind: Service
metadata:
  name: roundcubemail-web
spec:
  ports:
    - port: 80
  selector:
    app: roundcubemail-web
