apiVersion: apps/v1
kind: Deployment
metadata:
  name: roundcubemail-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: roundcubemail-web
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: roundcubemail-web
    spec:
      containers:
        - image: roundcube/roundcubemail:latest
          imagePullPolicy: Always
          name: roundcubemail
          env:
            - name: ROUNDCUBEMAIL_DB_TYPE
              value: mysql
            - name: ROUNDCUBEMAIL_DB_HOST
              value: roundcubemail-db
            - name: ROUNDCUBEMAIL_DB_PORT
              value: "3306"
          envFrom:
            - secretRef:
                name: roundcubemail-envs
