apiVersion: v1
kind: Secret
metadata:
    name: autoapply-secret
    namespace: default
    labels:
        component: autoapply
type: Opaque
data:
    SSH: SSH_PRIVATE_KEY_GOES_HERE_BASE64
    SSH_HOST_KEY: SSH_HOST_KEY_OF_REPO_SERVER_GOES_HERE_BASE64
    GPG: GPG_KEY_GOES_HERE_BASE64
    SOPS_PGP_FP: GPG_KEY_FINGERPRINT_GOES_HERE_BASE64
