apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nextcloud
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-issuer
    # disable client_max_body_size checking
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    # upstream https
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - cloud.hubbe.club
      secretName: nextcloud-cert
  rules:
    - host: cloud.hubbe.club
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nextcloud-web
                port:
                  number: 443
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: collabora
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-issuer
    # user WOPISrc arg to ensure all users editing one document are served by the same pod
    nginx.ingress.kubernetes.io/upstream-hash-by: "$arg_WOPISrc"
    # set proxy size and timeouts to recommended defaults (https://github.com/CollaboraOnline/online/tree/master/kubernetes/helm/collabora-online)
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - office.hubbe.club
      secretName: collabora-cert
  rules:
    - host: office.hubbe.club
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nextcloud-collabora
                port:
                  number: 9980
