apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-envs
stringData:
  MYSQL_DATABASE: "nextcloud"
  MYSQL_USER: "nextcloud"
  MYSQL_PASSWORD: ""
  MYSQL_RANDOM_ROOT_PASSWORD: "yes"
  MYSQL_HOST: nextcloud-db
  REDIS_HOST: nextcloud-redis
  REDIS_HOST_PASSWORD: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: collabora-envs
stringData:
  username: "admin"
  password: ""
