apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-envs
stringData:
  REDIS_HOST_PASSWORD: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: collabora-envs
stringData:
  username: "admin"
  password: ""
