apiVersion: v1
kind: Service
metadata:
  name: nextcloud-collabora
spec:
  ports:
    - port: 9980
  selector:
    app: nextcloud
    component: collabora
---
apiVersion: v1
kind: Service
metadata:
  name: nextcloud-web
  annotations:
    traefik.ingress.kubernetes.io/service.serversscheme: https
    traefik.ingress.kubernetes.io/service.serverstransport: traefik-skipverify@kubernetescrd
spec:
  ports:
    - port: 443
  selector:
    app: nextcloud
    component: nextcloud
