apiVersion: v1
kind: Secret
metadata:
  name: keycloak-db-envs
stringData:
  MYSQL_RANDOM_ROOT_PASSWORD: "yes"
  MYSQL_DATABASE: keycloak
  MYSQL_USER: keycloak
  MYSQL_PASSWORD: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-envs
stringData:
  TZ: Europe/Helsinki
  PROXY_ADDRESS_FORWARDING: "true"
  DB_VENDOR: mariadb
  DB_ADDR: keycloak-db
  DB_PORT: "3306"
  DB_DATABASE: keycloak
  DB_USER: keycloak
  DB_PASSWORD: ""
  KEYCLOAK_USER: admin
  KEYCLOAK_PASSWORD: ""
