apiVersion: v1
kind: Secret
metadata:
  name: openldap-envs
stringData:
  LDAP_ORGANISATION: Hubbe Club
  LDAP_DOMAIN: hubbe.club
  LDAP_ADMIN_PASSWORD: ""
  LDAP_CONFIG_PASSWORD: ""
  LDAP_READONLY_USER: "true"
  LDAP_READONLY_USER_USERNAME: readonly
  LDAP_READONLY_USER_PASSWORD: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-db-envs
stringData:
  MYSQL_RANDOM_ROOT_PASSWORD: "yes"
  MYSQL_DATABASE: keycloak
  MYSQL_USER: keycloak
  MYSQL_PASSWORD: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-envs
stringData:
  TZ: Europe/Helsinki
  PROXY_ADDRESS_FORWARDING: "true"
  DB_VENDOR: mariadb
  DB_ADDR: keycloak-db
  DB_PORT: "3306"
  DB_DATABASE: keycloak
  DB_USER: keycloak
  DB_PASSWORD: ""
  KEYCLOAK_USER: admin
  KEYCLOAK_PASSWORD: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: oauth2-proxy-config
stringData:
  oauth2-proxy.cfg: |
    http_address = "0.0.0.0:4180"
    reverse_proxy = true
    email_domains = [ "*" ]
    cookie_domains = [ ".hubbe.club" ]
    cookie_name = "_oauth2_proxy"
    cookie_secret = ""
    cookie_secure = true
    cookie_expire = "168h"
    cookie_refresh = "24h"
    cookie_httponly = true
    set_xauthrequest = true

    # redis session store, as OIDC sessions get too big for cookies
    session_store_type = "redis"
    redis_connection_url = "redis://oauth2-proxy-redis:6379"

    # keycloak provider, using OIDC for better compat and cookie_refresh support
    provider = "oidc"
    provider_display_name = "Keycloak OIDC Provider"
    client_id = "oauth2-proxy"
    client_secret = ""
    redirect_url = "https://login.hubbe.club/oauth2/callback"
    oidc_issuer_url = "https://keycloak.hubbe.club/auth/realms/master"

    # allowed domains
    whitelist_domains = [ ".hubbe.club" ]
