apiVersion: v1
kind: Secret
metadata:
  name: navidrome-envs
stringData:
  ND_PASSWORDENCRYPTIONKEY: randomstringhere
  # https://www.navidrome.org/docs/usage/external-integrations/
  ND_LASTFM_APIKEY: ""
  ND_LASTFM_SECRET: ""
  ND_SPOTIFY_ID: ""
  ND_SPOTIFY_SECRET: ""
