apiVersion: v1
kind: Secret
metadata:
  name: mariadb-envs
  namespace: database
stringData:
  MARIADB_ROOT_PASSWORD:
  # create user for healthcheck script
  MARIADB_USER: health
  MARIADB_PASSWORD: 
---
apiVersion: v1
kind: Secret
metadata:
    name: mariadb-backup-envs
    namespace: database
stringData:
    # user for backups (needs to be created in DB manually)
    MARIADB_BACKUP_USER: backup
    MARIADB_BACKUP_PASSWORD: 
    # restic settings for backups
    RESTIC_PASSWORD: 
    RESTIC_REPOSITORY: "/srv/backup"
    RESTIC_FORGET_ARGS: "--keep-daily 7 --keep-weekly 2 --keep-monthly 2"
