apiVersion: v1
kind: Secret
metadata:
  name: mariadb-envs
  namespace: database
stringData:
  MARIADB_ROOT_PASSWORD:
  # create user for healthcheck script
  MARIADB_USER: health
  MARIADB_PASSWORD: 
