apiVersion: v1
kind: Secret
metadata:
  name: mariadb-secrets
  namespace: database
stringData:
  root-password: 
---
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-garage
  namespace: database
stringData:
  access-key-id: 
  secret-access-key: 
---
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-authelia
  namespace: database
stringData:
  password: 
---
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-freshrss
  namespace: database
stringData:
  password: 
---
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-lldap
  namespace: database
stringData:
  password: 
---
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-nextcloud
  namespace: database
stringData:
  password: 
