apiVersion: v1
kind: Secret
metadata:
  name: lldap-secrets
  namespace: authelia
stringData:
  LLDAP_JWT_SECRET: ""
  LLDAP_KEY_SEED: ""
  LLDAP_LDAP_USER_PASS: ""
  LLDAP_DATABASE_URL: "mysql://<user>:<password>@mariadb.database.svc.cluster.local/lldap"
  LLDAP_SMTP_OPTIONS__ENABLE_PASSWORD_RESET: "true"
  LLDAP_SMTP_OPTIONS__SERVER: "smtp.fastmail.com"
  LLDAP_SMTP_OPTIONS__PORT: "465"
  LLDAP_SMTP_OPTIONS__SMTP_ENCRYPTION: "TLS"
  LLDAP_SMTP_OPTIONS__USER: ""
  LLDAP_SMTP_OPTIONS__PASSWORD: ""
  LLDAP_SMTP_OPTIONS__FROM: ""
  LLDAP_SMTP_OPTIONS__TO: ""
