apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: web
  namespace: immich
  labels:
    app.kubernetes.io/name: immich
    app.kubernetes.io/component: web
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-issuer
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - photos.hubbe.club
      secretName: immich-cert
  rules:
    - host: photos.hubbe.club
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: server
                port:
                  name: http
