apiVersion: v1
kind: Secret
metadata:
  name: db-envs
  namespace: immich
type: Opaque
stringData:
  POSTGRES_USER: 
  POSTGRES_DB: 
  POSTGRES_PASSWORD: 
---
apiVersion: v1
kind: Secret
metadata:
  name: redis-envs
  namespace: immich
type: Opaque
stringData:
  REDIS_HOST_PASSWORD: 
---
apiVersion: v1
kind: Secret
metadata:
  name: server-envs
  namespace: immich
type: Opaque
stringData:
  JWT_SECRET: 
  REDIS_PASSWORD:
