apiVersion: v1
kind: Secret
metadata:
  name: deepdream-mail-envs
stringData:
  EMAIL_SMTP: "smtp.gmail.com"
  EMAIL_PORT: "587"
  EMAIL_SENDER: "example@gmail.com"
  EMAIL_USER: "from-example@gmail.com"
  EMAIL_PASS: "wheeeeeee1234"
---
apiVersion: v1
kind: Secret
metadata:
  name: deepdream-envs
stringData:
  FLASK_SECRET_KEY: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: deepdream-oidc
stringData:
  # Flask-OIDC client_secrets.json file
  client_secrets.json: |
    {
      "web": {
        "auth_url": "",
        "client_id": "",
        "client_secret": "",
        "issuer": "",
        "redirect_urls": [
          "https://deepdream.hubbe.club/oidc_callback"
        ],
        "token_uri": "",
        "token_introspection_uri": "",
        "userinfo_uri": ""
      }
    }
