apiVersion: v1
kind: ConfigMap
metadata:
  name: unifi-mongodb-init
data:
  init-mongo.js: |
    db.getSiblingDB("unifi").createUser({user: "unifi", pwd: "PASS_HERE", roles: [{role: "dbOwner", db: "unifi"}, {role: "dbOwner", db: "unifi_stat"}]});
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: unifi-envs
data:
  MONGO_USER: unifi
  MONGO_PASS: PASS_HERE
  MONGO_DBNAME: unifi
  MONGO_HOST: unifi-mongodb.default.svc.cluster.local
  MONGO_PORT: "27017"
