apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: foundry-barthu
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-issuer
spec:
  ingressClassName: traefik
  tls:
    - hosts:
      - foundry.hubbe.club
      secretName: foundry-cert
  rules:
    - host: foundry.hubbe.club
      http:
        paths:
          - path: /barthu
            pathType: Prefix
            backend:
              service:
                name: foundry-barthu
                port:
                  number: 30000
