apiVersion: v1
kind: Secret
metadata:
  name: foundry-credentials
stringData:
  FOUNDRY_USERNAME:
  FOUNDRY_PASSWORD:
---
apiVersion: v1
kind: Secret
metadata:
  name: foundry-gobbos-envs
stringData:
  FOUNDRY_LICENSE_KEY: LICENSE-GOES-HERE
  FOUNDRY_ADMIN_KEY: longpasswordhere
  FOUNDRY_ROUTE_PREFIX: "wordhere"
