apiVersion: v1
kind: Secret
metadata:
  name: mpd-config
stringData:
  # pulseaudio tcp receiver servers
  # need to be configured to accept connections from nodes
  PULSEAUDIO_SERVERS: "192.168.1.100,192.168.1.101,192.168.2.1"
---
apiVersion: v1
kind: Secret
metadata:
  name: mpdscribble-config
stringData:
  # mpd connection settings
  MPD_HOST: localhost
  MPD_PORT: 6600
  # last.fm account for mpdscribble
  LASTFM_USER: "test"
  LASTFM_PASS: "098f6bcd4621d373cade4e832627b4f6"
