apiVersion: v1
kind: Secret
metadata:
  name: rclone-config
  namespace: database
stringData:
  rclone.conf: |
    [hetzner]
    type = s3
    provider = Hetzner
    access_key_id = ""
    secret_access_key = ""
    region = hel1
    endpoint = hel1.your-objectstorage.com
    acl = private

    [garage]
    type = s3
    provider = Other
    env_auth = false
    access_key_id = ""
    secret_access_key = ""
    region = garage
    endpoint = http://garage.database.svc.cluster.local:3900
    force_path_style = true
    acl = private
    bucket_acl = private
---
apiVersion: v1
kind: Secret
metadata:
  name: garage-secrets
  namespace: database
stringData:
  rpc.secret: ""
  admin.token: ""
  metrics.token: ""
