apiVersion: v1
kind: ConfigMap
metadata:
  name: matrix-irc-registration
data:
  appservice-registration-irc.yaml: |
    # see https://github.com/matrix-org/matrix-appservice-irc/blob/develop/Dockerfile.README.md
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: matrix-irc-config
data:
  config.yaml: |
    # see https://github.com/matrix-org/matrix-appservice-irc/blob/develop/config.sample.yaml
