apiVersion: v1
kind: Secret
metadata:
  name: matrix-irc-password-encryption-key
type: Opaque
stringData:
  passkey.pem: |
    # openssl genpkey -out ./dockerdata/passkey.pem -outform PEM -algorithm RSA -pkeyopt rsa_keygen_bits:2048
