apiVersion: v1
kind: Secret
metadata:
  name: secrets
  namespace: authelia
stringData:
  JWT_TOKEN: ""
  LDAP_PASSWORD: ""
  SESSION_KEY: ""
  REDIS_PASSWORD: ""
  MYSQL_PASSWORD: ""
  SMTP_PASSWORD: ""
  OIDC_HMAC_SECRET: ""
  OIDC_ISSUER_PRIVATE_KEY: ""
  OIDC_ISSUER_PUBLIC_KEY: ""
