apiVersion: v1
kind: Secret
metadata:
  name: ddns-updater-config
stringData:
  config.json: |
    {
        "settings": [
            {
                "provider": "cloudflare",
                "zone_identifier": "",
                "domain": "",
                "ttl": 1,
                "token": "",
                "ip_version": "ipv4"
            }
        ]
    }
