apiVersion: v1
kind: Secret
metadata:
  name: mpd-config
stringData:
  # pulseaudio tcp receiver server
  PULSEAUDIO_SERVER: "192.168.1.111"
  # last.fm account for mpdscribble
  LASTFM_USER: "test"
  LASTFM_PASS: "098f6bcd4621d373cade4e832627b4f6"
