apiVersion: v1
kind: Secret
metadata:
  name: runner-envs
  namespace: drone
  labels:
    component: drone-runner
stringData:
  DRONE_UI_DISABLE: "false"
  DRONE_UI_USERNAME: "root"
  DRONE_UI_PASSWORD: "rootmoot"
  DRONE_SECRET_PLUGIN_TOKEN: ""
