apiVersion: v1
kind: ConfigMap
metadata:
  name: matrix-synapse-config
data:
  # for config generation, see https://github.com/matrix-org/synapse/tree/develop/contrib/docker
  # SERVER_NAME should be the chosen server name for the matrix homeserver, as set in homeserver.yaml
  homeserver.yaml: ""
  SERVER_NAME.log.config: ""
  SERVER_NAME.signing.key: ""
