apiVersion: batch/v1
kind: Job
metadata:
  name: synapse-config-generate
spec:
  template:
    spec:
      restartPolicy: Never
      securityContext:
        fsGroup: 991
        runAsGroup: 991
        runAsUser: 991
      containers:
        - image: docker.io/matrixdotorg/synapse:v1.26.0
          name: synapse-web
          args:
            - generate
          env:
            - name: SYNAPSE_SERVER_NAME
              value: hubbe.club
            - name: SYNAPSE_REPORT_STATS
              value: "yes"
            - name: SYNAPSE_CONFIG_DIR
              value: /data
            - name: SYNAPSE_CONFIG_PATH
              value: /data/homeserver.yaml
            - name: SYNAPSE_DATA_DIR
              value: /data
            - name: UID
              value: "991"
            - name: GID
              value: "991"
          volumeMounts:
            - mountPath: /data
              name: data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: data-matrix
