apiVersion: v1
kind: Secret
metadata:
  name: matrix-db-envs
stringData:
  POSTGRES_DB: synapse
  POSTGRES_INITDB_ARGS: --encoding=UTF-8 --lc-collate=C --lc-ctype=C
  POSTGRES_PASSWORD: ""
  POSTGRES_USER: synapse
