apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: freshrss
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-issuer
    traefik.ingress.kubernetes.io/router.middlewares: traefik-https-redirect@kubernetescrd,traefik-authelia-forwardauth@kubernetescrd
    traefik.ingress.kubernetes.io/router.tls.options: traefik-tls@kubernetescrd
spec:
  ingressClassName: traefik
  tls:
    - hosts:
      - rss.hubbe.club
      secretName: freshrss-cert
  rules:
    - host: rss.hubbe.club
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: freshrss
                port:
                  number: 80
